<div class="hideMe" id="groupID"><%= post.group %></div>
<div class="hideMe" id="postID"><%= post.id %></div>

<div class="container firstContainer">
  <h1><a href="/group/posts/<%= group.id %>"><%= group.name %></a></h1>
  <div class="well">
    <div class="row noMargin">
      <h2><%= post.title %></h2>
    </div>
    <div class="row noMargin">
      <div class="row noMargin" style="margin-bottom: 10px;">
        <%- post.question %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="pull-left"><%= post.author.userName %></p>
      </div>
      <div class="col-xs-6">
        <% var count = 0 %>
        <% comments.forEach(function(comment) { %>
          <% count = count + 1 %>
        <% }); %>
        <p class="pull-right"><%= count %> Comments</p>
      </div>
    </div>
    <% if (session.user == post.author.id || session.user == group.admin) { %>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <button class="btn btn-danger pull-right deletePostBtn" value="<%= post.id %>">Delete!</button>
        </div>
      </div>
    <% } %>
  </div>
  <div class="well">
    <div class="form-group">
      <div class="row">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
    </div>
      <div class="row">
          <a class="btn btn-success pull-right" id="submitComment">Leave a Comment</a>
          <a class="btn btn-success pull-right codeHelp" style="margin-right: 5px;">Code?</a>
      </div>
      <hr>
      <% comments.forEach(function(comment) { %>
        <div class="row">
            <div class="col-md-12">
                <p><%= comment.author.userName%></p>
                <div><%- comment.reply %></div>
            </div>
        </div>
        <% if (comment.author.id == session.user || group.admin == session.user) { %>
          <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger pull-right deleteCommentBtn" value="<%= comment.id %>">Delete!</button>
            </div>
          </div>
        <% } %>
      <hr>
      <% }); %>
  </div>
</div>
