<div class="hideMe" id="groupID"><%= post.group %></div>
<div class="hideMe" id="postID"><%= post.id %></div>

<div class="container firstContainer">
  <div class="well">
    <div class="row noMargin">
      <h2><a href="#"><%= post.title %></a></h2>
    </div>
    <div class="row noMargin">
      <p>
        <%= post.question %>
      </p>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="pull-left"><%= post.author.userName %></p>
      </div>
      <div class="col-xs-6">
        <p class="pull-right">3 Comments</p>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
      <div class="text-right">
          <a class="btn btn-success" id="submitComment">Leave a Comment</a>
      </div>
      <hr>
      <% comments.forEach(function(comment) { %>
      <div class="row">
          <div class="col-md-12">
              <p><%= comment.author.userName%></p>
              <p><%= comment.reply %></p>
          </div>
      </div>
      <hr>
      <% }); %>
  </div>
</div>
