<div class="firstContainer container">
  <div class="row">
    <div class="col-xs-6"><h1>Your Groups</h1></div>
    <div class="col-xs-6"><h1>Your Recent Posts</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admin Panel</th>
          </tr>
        </thead>
        <tbody>
          <% if (user.admins[0]) { %>
            <% user.admins.forEach(function(adminGroup) { %>
              <tr>
                <th><a href="/group/posts/<%= adminGroup.id %>"><%= adminGroup.name %></a></th>
                <th><a class="btn btn-default" href="/group/add/<%= adminGroup.id %>" role="button">Admin Panel</a></th>
              </tr>
            <% }); %>
          <% } %>
          <% if (user.groups[0]) { %>
            <% user.groups.forEach(function(memberGroup) { %>
              <tr>
                <th><a href="/group/posts/<%= memberGroup.id %>"><%= memberGroup.name %></a></th>
                <th></th>
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table>
      <a id="button" role="button" class="btn btn-primary" href="/group/new">Create Group</a>
    </div>
    <div class="col-xs-6">
      <div class="well" id="well">
        <div class="row">
            <div class="col-md-12">
                <a href="#">   <strong> I'm getting a NullPointerException </strong> </a>
                <span class="pull-right">10 days ago</span>
                <p>Every time I try to compile the webapp that I have been building I get the same...</p>
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <a href="#"> <strong> PHP 100% CPU usage with Sublime Text 3</strong> </a>
            <span class="pull-right">12 days ago</span>
            <p>The website I'm creating uses primarily PHP, and our company uses Sublime Text 3 as our standard platform IDE. From time to time, it start PHP processes...</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <a href="#">  <strong> Do you need a Java Runtime Environment???</strong> ></a>
            <span class="pull-right">3 days ago</span>
            <p>The work that I'm doing requires me to write in Eclipse, the problem is that...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
