<div class="firstContainer container">
  <div class="row">
    <div class="col-xs-6"><h1>Your Groups</h1></div>
    <div class="col-xs-6"><h1>Your Recent Posts</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admin Panel</th>
          </tr>
        </thead>
        <tbody>
          <% if (user.admins[0]) { %>
            <% user.admins.forEach(function(adminGroup) { %>
              <tr>
                <th><a href="/group/posts/<%= adminGroup.id %>"><%= adminGroup.name %></a></th>
                <th><a class="btn btn-default" href="/group/add/<%= adminGroup.id %>" role="button">Admin Panel</a></th>
              </tr>
            <% }); %>
          <% } %>
          <% if (user.groups[0]) { %>
            <% user.groups.forEach(function(memberGroup) { %>
              <tr>
                <th><a href="/group/posts/<%= memberGroup.id %>"><%= memberGroup.name %></a></th>
                <th></th>
              </tr>
            <% }); %>
          <% } %>
        </tbody>
      </table>
      <a id="button" role="button" class="btn btn-primary" href="/group/new">Create Group</a>
    </div>
    <div class="col-xs-6">
      <div class="well" id="well">
        <% if (user.posts[0]) { %>
          <% var count = 0; %>
          <% user.posts.forEach(function(post) { %>
            <% if (count < 3) { %>
              <% if (count > 0) { %>
                <hr>
              <% } %>
              <div class="row">
                  <div class="col-md-12">
                      <a href="/group/post/<%= post.id %>"><strong><%= post.title %></strong></a>
                      <span class="pull-right"></span>
                      <p><%- post.question %></p>
                  </div>
              </div>
              <% count = count + 1; %>
            <% } %>
          <% }); %>
        <% } else { %>
        <div class="row">
          <div class="col-md-12">
            <h3>No Posts Found!</h3>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
